<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if errors_msg}}
      {{#each errors_msg}}
        <p>Error: {{msg}}</p>
      {{/each}}
    {{/if}}
    {{#if error_msg}}
      <p>Error msg: {{error_msg}}</p>
    {{/if}}
    {{#if locals.errors}}
      <p>Local errors: {{locals.errors}}</p>
    {{/if}}
    {{#if success_msg}}
      <p>Success: {{success_msg}}</p>
    {{/if}}
    {{{body}}}
  </body>
</html>
